torch
torchvision
accelerate
clip 
contourpy
cycler
datasets
decord
diffusers
gradio
gradio_client
gradio_image_annotation
huggingface-hub
ipykernel
ipython
Jinja2
multiprocess
ninja
numpy
open_clip_torch
openai
opencv-python
opencv-python-headless
qwen-vl-utils
requests
safetensors
scikit-learn
tornado
tqdm
transformers
wandb
einops
sentencepiece
